/* Asterisk to remove inherit browser padding/margin etc.*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic Styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 10%;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px cyan;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

main {
    background-color: wheat;
    min-height: 848px;
    width: 100%;
    height: 100%;
}

/* Styles relating to the header */
header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: wheat;
    text-transform: uppercase;
}

#gameRules {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0;
    margin-left: 0;
    height: 50px;
}

#gameRules:hover {
    background-color: green;
    transition: 0.5s;
}

#web-header {
    padding: 15px;
}


/* This is CSS to do with the main game screen */
.game-screen {
    background-color: darkgrey;
    width: 100%;
    height: 40%;
    margin-top: 85px;
    display: inline-block;

}

.game-screen h2 {
    text-align: center;
    padding: 10px;
}

.game-screen,
p {
    padding: 5px;
}

.game-font {
    font-family: monospace;
}

.positionbox {
    margin: 5px 10px 10px 10px;

}

button {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 200px;
    width: 80%;
    height: 100px;
}



#selector:hover {
    background-color: green;
    transition: 0.5s;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}

/* CSS for scoreboard.*/

.game-score {
   border: 2px solid black;
   width: 100%;
   height: 40%;
   align-items: center;
   margin-top: 20px;
   background-color: white;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}

#player-name {
    background-color: darkgreen;
    width: 40%;
    top: 58px;
    right: 70px;
    text-align: center;
    font-family: monospace;
    color: white;
    font-size: 20px;

}


#computer-name {
    background-color: red;
    width: 50%;
    top: -47px;
    left: 105%;
    text-align: center;
    font-family: monospace;
    color: white;
    font-size: 20px;
}

span {
    margin: 25px;
    font-size: 35px;
    display: inline-block;
    width: 10%;
    text-align: center;
}

#choices {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

i {
    font-size: 50px;
}

#rock-div,
#paper-div,
#scissors-div {
    width: 30%;
    display: inline-block;
}

p {
    text-align: center;
}

#playerDisplay {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

#computerDisplay {
    text-align: center;
    font-size: 30px;
}

#resultDisplay {
    text-align: center;
    font-family: monospace;
    background-color: black;
    color: white;
}

#gameOver {
    width: 100%;
    height: 100px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: monospace;
    padding: 35px;
    display: none;    
}

#finalDisplay {
    color: white;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: black;
    font-family: monospace;
    display: none;

}

#reset {
    color: white;
    display: block;
    text-align: center;
    width: 25%;
    height: 100px;
    margin: 0;
    display: none;
    font-size: 16px;
}

#reset:hover {
    background-color: green;
    transition: 0.5s;
}

#gameSummary {
    width: 25%;
    height: 100px;
    margin: 0;
    display: none;
    font-size: 16px;
    color: white;
}

#gameSummary:hover {
    background-color: green;
    transition: 0.5s;
}

#interact-button {
    margin: 0;
    display: inline-flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

 /* Modal styling */  

 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
 }

 .modalContent {
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-color: white;
 }

 .modalHeader {
    font-family: monospace;
    text-align: center;
    background-color: limegreen;
 }

 .modalContent p {
    font-family: monospace;
    text-align: center;
 } 
 

 .close {
      color: black;
      float: right;
      font-size: 28px;
      font-weight: bold;
      margin: 0;
 }

 .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
 }

 .gameSummary-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    border: 1px solid #888;
 }

 .closeSummary-modal {
    float: right;
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
 }

 .closeSummary-modal:hover, .closeSummary-modal:focus {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 40px;
 }




 footer {
    height: 100px;
    background-color: slategray;
   
}

@media screen and (min-width: 992px) {

    .game-score {
        text-align: center;

    }

    #player-name {
        left: -390px;
        width: 30%;

    }

    #computer-name {
        left: 1050px;
        width: 30%;
    }
}